#body-components-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
#grid-container{
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px 15px;
  padding: 10px 1.5em;
  box-sizing: border-box;
  margin-bottom: 200px;
}
.grid-component{
  background: #3336;
  border-radius: 15px;
  transition-duration: 300ms;
  box-sizing: border-box;
  display: flex;
  padding: 10px 15px;
  min-width: 200px;
  height: auto;
  min-height: 270px;
}
.grid-1{
  /* justify-content: space-between; */
  /* min-height: 250px; */
}
.grid-2{
  justify-content: space-evenly;
  padding: 1vw ;
  flex-direction: column;
}
.grid-4{
  display: block;
  padding: 0;
}
.grid-5{
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 650px) {
  #grid-container{
    grid-template-columns: 1fr;
    padding: 2vw;
  }
  .grid-component{
    border-radius: 10px;
    padding: 10px 15px;
    height: auto;
    min-height: 270px;
  }
  .grid-1{
    padding: 5vw ;
  }
  .grid-2{
    padding: 1vw ;
  }
}


/* loading animation */
.isLoading > .grid-component, .Loading {
  background-color: black;
  background: linear-gradient(110deg, #121212 8%, #0a0a0a 18%, #121212 33%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}