#gc2-main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 250px;
  gap: 10px;
}

#specific-data-box-container{
  display: flex;
  gap: 10px;
}
.specific-data-box{
  background-color: var(--grid_boxes_color);
  color: var(--secondary_text_color);
  width: 100%;
  max-width: 200px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: 150ms;
}
.specific-data-box:hover, .activated {
  transform: scale(1.05);
  box-shadow: 0px 0px 2px 1px #fff1;
  color: var(--text_color);
}
.specific-data-box:hover > .specific-data-img-container img{
  filter: brightness(100%);
}
.specific-data-name-holder{
  max-width: 150%;
  text-wrap: nowrap
}
.specific-data-box div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  gap: 5px;
}
.specific-data-data{
  font-size: 25px;
  flex-grow: 1;
  margin: 0;
  /* padding: 5px; */
}
.specific-data-img-container{
  filter:invert(1) brightness(50%);
  max-width: 35px;
  flex-grow: 1;
}
.specific-data-img-container img{
  width: 100%;
}

.specific-data-footer{
  align-self: flex-end;
  margin-bottom: 5px;
  font-size: 12px;
  color: var(--secondary_text_color);
  flex-grow: 1;
  text-align: right;
}


/* Graph styles */
#gc2-graph-container{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
#rules-container-gc2{
  background-color: var(--grid_boxes_color);
  border-radius: 15px;
  display: flex;
  align-items: end;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 20px;
}
.ruler-from-gc2-graph{
  width: 8px;
  margin: 0 5px;
  border-radius: 5px;
}
#reload-img-container{
  position: absolute;
  width: 30px;
  max-width: 35px;
  right: 5px;
  top: 5px;
  cursor: pointer;
  background-color: var(--grid_background_color);
  padding: 5px;
  border-radius: 10px;
  display: grid;
  place-content: center;
}
#reload-img-container:hover{
  transform: scale(1.05);
}
#reload-img-container img{
  filter:invert(1) brightness(50%);
  width: 100%;
}


@media only screen and (max-width: 650px) {
  
  #specific-data-box-container{
    gap: 5px;
  }
  .specific-data-box{
    min-width: 18vw;
    border-radius: 30px;
    height: auto;
    padding: 15px 5px 15px 10px;
  }
  .specific-data-name-holder{
    font-size: 12px;
  }
  .specific-data-box div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    gap: 0px;
  }
  .specific-data-img-container{
    min-width: 25px;
  }
  .specific-data-footer{
    align-self: flex-end;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: left;
  }
}


.hidden{
  display: none;
  visibility: hidden;
}
